@font-face {
    font-family: m1;
    src: url(./Ubuntu-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
    box-sizing: border-box;

}

:root {
    --theme: #1e90ff;

    --t1: #f0f8ff;
    --t3: #111;
    --white: #fff;
    --black: #000000;
    --lod: #111;
    --lod-c: #fff;

    --n-black:#111;
    --n-white:#fff;



    --font-1: m1 ;
    --font-2: "Outfit", serif;
    --font-3: 'Cairo', sans-serif;


    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --border: 25px;
}
/* Dark mode variables */
body.dark-mode {
    --theme: #1e90ff;

    --lod-c: #111;
    --lod: #fff;
    
    --t1: #f0f8ff;;
    --t3: #efefef;
    --white: #000;
    --black: #fff;
    --transparent:#fff;

    
}
::-webkit-scrollbar {
    width: 0px;
  }

  .custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1e90ff;
    opacity: 0.1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, opacity 0.2s;
    z-index: 1000;
}
.custom-cursor.grow {
    width: 50px;
    height: 50px;
    opacity: 5%;
}

.custom-cursor.click {
  transform: translate(-50%, -50%) scale(1.5);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--lod);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
.loader p {
    font-size: 4vw;
    font-weight: bold;
    color: var(--lod-c);
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid white; */
}

html,
body{
   height: 100%;
   width: 100%;
   scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    transition: var(--animation-primary);
}
#main{
    position: relative;
}

nav {
    /* background-color: var(--transparent); */
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;


}
.top-nav{
    position: relative;
    z-index: 10;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 3rem;
    position: relative;
}

.logo p {
    transition: var(--animation-primary);
    white-space: nowrap;
    color: var(--black);
}


.logo #logo::selection {
    background-color: transparent;
}

.logo p::selection {
    background-color: transparent;
}

#sec-1 span::selection {
    background-color: transparent;
}

#sec-2 .content-work > p::selection {
    background-color: transparent;
}

#typingText {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    text-shadow: 2px 2px 0 var(--white);
  
}

.cursor {
    display: inline-block;
    font-size: 2rem;
    font-weight: 100;
    color: #000000;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/* Optional: Apply to the entire page */
::selection {
    background-color: #1e8fffd5;
    color: #fff;
}



.logo #logo {
    height: 3rem;
    padding: 0 .15rem;
    transition: var(--animation-primary);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    list-style-type: none;
    font-size: 1.2rem;
    gap: 1rem;

}

.magnetic-button {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    background: transparent;
    overflow: hidden;
    transition: color 0.3s;
    cursor: pointer;
}

.magnetic-button .button-text {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: transform 0.2s ease-out;
}


.btn {
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--animation-smooth);
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    font-weight: 400;
    outline: none;
    border: none;
}
.btn-color{
    transition: var(--animation-smooth);
    background-color: var(--t1);
    color: var(--n-black);
    
}
.btn:hover {
    color: var(--white);

}

.btn:hover::before {
    bottom:  0;
    border-radius: 0;
}

.btn::before {
    content: "";
    height: 120%;
    width: 150%;
    background-color: var(--black);
    position: absolute;
    bottom:  -120%;
    transition: var(--animation-smooth);
    border-radius: 120%;
    z-index: -1;
}
nav ul li::selection {
    background-color: transparent;
}

nav ul li:nth-child(2) {
    border-radius: 50px;
    padding: 1.5rem;
}
nav ul li:nth-child(1) {
    border-radius: 50%;
    padding: 1rem;
}
.hidden {
    display: none;
}

#moonSun img {
    width: 35px;
    height: 35px;
    transition: fill 0.3s ease, color 0.3s ease;
}
#moonSun .sun,
#moonSun .moon{
    transition: var(--animation-smooth);
}


/* Default Light Mode */
#moonSun:hover img.moon {
    filter: brightness(0) saturate(100%) invert(100%); /* White */
}

#moonSun:hover img.sun {
    filter: brightness(0) saturate(100%) invert(100%);}

/* Dark Mode */
body.dark-mode #moonSun img.sun {
    filter: none;  
}

/* Hover behavior in dark mode */
body.dark-mode #moonSun:hover img.sun {
    filter: invert(100%) brightness(0) saturate(100%); /* Sun icon turns black on hover */
}

/* Hide the sun or moon in light/dark mode */
.hidden {
    display: none;
}
#menuBtn {
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    transition: var(--animation-slow);
}


#menu-box {
    height: 100vh;
    width: 36rem;
    background-color: var(--black);
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: var(--animation-slow);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: 10;
    padding: 0 5rem;
}

.tag-line{
    color: var(--white);
    font-family: var(--font-1);
    text-transform: uppercase;
    padding: 0 0 1rem 0 ; 
    font-weight: 800;
    /* letter-spacing: 5px; */
}
.divider-nav{
    width: 100%;
    /* height: 5px; */
    background-color: var(--white);
    padding: .04rem;
    margin: 0 0 3rem 0;
}

.divider{
    width: 100%;
    /* height: 5px; */
    background-color: var(--white);
    padding: .04rem;
    margin: 0 0 3rem 0;
    transition: var(--animation-slow);
}

.divider:hover{
    width: 100%;
}
#menu-box  > ul{
    /* padding: 0 4rem; */
    font-size: 3.5rem;
    list-style-type: none;
}
#menu-box > ul li svg{
    height: 4vw;
    position: relative;
    top: 0.5rem;
    padding: 1rem;
    opacity: 50%;
}
#menu-box > ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
text-decoration: none;
color: var(--white);
    text-transform: capitalize;
}
.social-media{
    /* background-color: var(--n-white); */
    width: 100%;
    position: absolute;
    bottom: 8%;

}

.social-media ul{
    display: flex;
    gap: 2rem;
list-style-type: none;
}
.social-media ul a{
  color: var(--white);
  text-decoration: none;
  font-weight: 100;
  text-transform: capitalize;
}


/* Section 1 */
#sec-1{
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}    .land-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: var(--white);
}

.cir-l {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    /* background: radial-gradient(circle, var(--theme) 30%, transparent 70%); */
    box-shadow: 0px 0px 40px var(--theme);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
}

.content {
    position: relative;
    z-index: 2;
 width: 30%;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.content h1 {
    font-size: 3rem;
    /* margin-bottom: 1rem; */
}
.content h1 span{
    font-size: 5rem;
}
.content p {
    font-size: 1.1rem;
    padding: 20px 0px;
}

.btn-t-1{
    font-size: 20px;
}
.land-page ul li{
    width: 100%;
    padding: 20px 60px;
}
.cta-button:hover {
    background: #1565c0;
}




/* Section 2  */
#sec-2{
    height: 100vh;
    width: 100%;
    padding: 8rem 2rem;
    background-color: var(--t3);
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
    overflow: hidden;
    transition: var(--animation-smooth);
}

#sec-2 .text-con{
    font-size: 4rem;
    padding: 0 5rem;
    color: var(--white);
}
.text-con,
.lates-work{
    position: relative;
    z-index: 2;
}
.content-work{
    color: var(--white);
    font-weight: 100;
}
#sec-2 .image{
    height: 200px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    margin: 1rem 0 1rem 0;
}
.hero-shape {
    position: absolute;
    width: 46vw;
    height: 46vw;
    right: -5em;
    top: -1em;
    z-index: 1;
}

.hero-1 {
    background-color: #1e90ff;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

.hero-2 {
    background: linear-gradient(#1e90ff, #0b82f9);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.hero-3 {
    background: linear-gradient(#1e90ff, #0b82f9);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


#sec-3{
    height: fit-content;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 2rem 13rem;
    position: relative;
}
#sec-3 .text-con{
       display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 40% 60%;
        gap: 2rem;
        padding-top: 10rem;
        /* background-color: blueviolet; */
        align-items: center;
}
.text{
    height: fit-content;
    font-size: 1.5rem;
    display: flex;
    /* background-color: #0b82f9; */
    align-items: center;
    justify-content: center;

}
.text p{
    height: auto;
}
.aboutBtn{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-transform: capitalize;
}

.cir-btn{
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    background-color: var(--black);
    color: var(--white);
    font-size: 1.4rem;
    border-radius: 50%;
    border: none;
    outline:none;
    position: relative;
    top: 33%;
    transition: var(--animation-smooth);
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px .5px #000000;
    cursor: pointer;
}
.cir-btn:hover{
    color: var(--black);

}
.cir-btn:hover::before {
    bottom:  0;
    border-radius: 0;
}

.cir-btn::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    bottom:  -120%;
    left: 0;
    transition: var(--animation-smooth);
    border-radius: 120%;
    z-index: 1;
}

.z-2{
    z-index: 3;
}

.letes-work{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 5rem; */
}
.tag{
    text-transform: uppercase;
    padding: 2rem 0;
   font-size: 1rem;
    
}
.letes-work ul {
    list-style-type: none;

}

.letes-work ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;
    position: relative;
}

/* .letes-work ul:hover li {
    opacity: 0.3;
    filter: blur(5px);
} */

.letes-work ul li:hover {
    opacity: 1;
    filter: blur(0);
}

.project_name {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    left: 8%;
}

.project_desc {
    font-size: 1.2rem;
    position: relative;
    right: 8%;
}

/* Floating Work Image */
.work-image {
    position: absolute;
    width: 300px;
    height: 400px;
    /* background-color: #0b82f9; */
    border-radius: 20px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    pointer-events: none;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: 10;
}

.image-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.work-image img {
    width: 100%;
    height:400px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
.more_work_btn {
    width: 20%;
    margin: 0 auto;
}
 
.more_work_btn a {
    margin-top: 1rem;
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
}
 

#sec-4{
    height:100vh;
    width: 100%;
}











/* Working Sections */
#work_sec-1{
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    color: var(--t3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.work_sec-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    z-index: 5;
}
.work_sec-content p{
    font-size: 5vw;
    margin-bottom: 30px;
    text-align: center;
}
.work_sec-content ul{
    font-size: 20px;
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}
.work_sec-content ul li{
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--black);
    border-radius: 10px;
}
.work_sec-content ul li a{
    text-decoration: none;
    color: var(--white);
}