@media only screen and (min-width: 0px) and (max-width: 600px) {
    
    nav{
        /* background-color: aqua; */
        height: fit-content;
    }
    .logo p {
        transition: var(--animation-primary);
        white-space: nowrap;
        color: var(--black);
        display: none;
    }
    
    #sec-1 div div>svg {
        height: 9vh;
        color: var(--theme);
        padding: 1rem;
    }
    .land-page {
        height: 75vh;
    }
    .break {
        margin: 0;
    }
    #moonSun{
        display: none;
    }
    #menu-box {
        width: 100%;
    }
    #menuBtn{
        position: fixed;
        top: 3.5%;
        right: 10%;
    }
    .social-media{
        /* background-color: var(--white); */
        width: 100%;
        position: absolute;
        bottom: 8%;
    }
    .custom-cursor{
        display: none;
    }
    
    .social-media ul{
        display: flex;
        flex-wrap: wrap;
        gap: .9rem;
    list-style-type: none;
    }
    #sec-2{
        height: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
     padding: 2rem 4rem;
    }
    
#sec-2 .text-con{
   display: none;
}


.content {
    width: 100%;
}
.content p {
    padding: 20px 100px;
}
.content h1 span {
    font-size: 4rem;
}




.work_sec-content p{
    font-size: 10vw;
}
.work_sec-content ul{
    width: 100%;
 }

}